<div class="container">
    <div class="content">
        <div class="search-add-section">
            <input type="text" id="searchInput" class="form-control" placeholder="Search Employee...">
            <button class="btn btn-primary" onclick="searchEmployee()">Search</button>
            <button class="btn btn-success ms-5" onclick="addEmployee()">+ Add Employee</button>
        </div>

        <div class="card">
            <div class="card-header">Customer List</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Customer Id</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Mobile Number</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="customerTable"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

